body {
  background-color: #e6e6ff;
}
.bold {
  font-weight: bold;
  text-decoration: underline;
}
img#me {
  float: left;
  width: 200px;
  height: 300px;
}
.Jumbotron {
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid red;
  padding: 4px;
  background-color: #e6ffff;
  text-align: center;
}
.panel-success {
  background-color: tan;
}
.green {
  color: green;
  font-weight: bold;
  font-size: 1.2em;
}
.red p {
  color: red;
  font-family: Times;
}
.red p a {
  color: brown;
  font-size: 1.5em;
}
.blue {
  color: blue;
}
#emphasize {
  font-style: italic;
  font-family: courier;
  font-size: 1.2em;
}
.fun {
  text-decoration: underline;
}
